<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallpepers</title>
</head>
<body>
{% for wallpaper in wallpapers %}
<a href="{% url 'market:item' item_id=wallpaper.id %}">{{ wallpaper }}</a>
{% endfor %}
</body>
</html>